|  {
|    "name":
!=           JSON.stringify(appTitle)
|    ,"description":
!=           JSON.stringify(description)
|   ,"start_url": "./?fsapp",
|    "display": "fullscreen",
|    "background_color": "#000",
|    "orientation": "landscape",
|    "icons": [
|      {
|        "src": "images/icon.png",
|        "sizes": "138x138",
|        "type": "image/png"
|      },
|      {
|        "src": "images/cover.png",
|        "sizes": "960x540",
|        "type": "image/png"
|      }
|    ]
|  }